<ul>
  <li>

    <ul class="content-stats-item admin">
      <li>
        <span class="glyphicon glyphicon-calendar"></span>
      </li>
      <li>
        <p>
          <a href="#">1 article to publish</a>
        </p>
      </li>
    </ul>
    <hr>

    <ul class="content-stats-item admin">
      <li>
        <span class="glyphicon glyphicon-pencil"></span>
      </li>
      <li>
        <p>
          <a href="#">4 articles to edit</a>
        </p>
      </li>
    </ul>
    <hr>

    <ul class="content-stats-item admin">
      <li>
        <span class="glyphicon glyphicon-comment"></span>
      </li>
      <li>
        <p>
          <a href="#">11 comments to moderate</a>
        </p>
      </li>
    </ul>
    <hr>

    <ul class="content-stats-item admin">
      <li>
        <span class="glyphicon glyphicon-inbox"></span>
      </li>
      <li>
        <p>
          <a href="#">7 supplier messages</a>
        </p>
      </li>
    </ul>
    <hr>
  </li>
</ul>