<ul>
  <li>

    <ul class="content-stats-item admin">
      <li>
        <p>
          $0.6502 median revenue p/lead
        </p>
      </li>
    </ul>
    <hr>

    <ul class="content-stats-item admin">
      <li>
        <p>
          $2.0452 median CPM
        </p>
      </li>
    </ul>
    <hr>

    <ul class="content-stats-item admin">
      <li>
        <span class="glyphicon glyphicon-user"></span>
      </li>
      <li>
        <p>
          0.34 leads p/UV
        </p>
      </li>
    </ul>
    <hr>

    <ul class="content-stats-item admin">
      <li>
        <span class="glyphicon glyphicon-map-marker"></span>
      </li>
      <li>
        <p>
          5.48 leads p/supplier/month
        </p>
      </li>
    </ul>
    <hr>

  </li>
</ul>