<link href="/css/pricing.css" rel="stylesheet">

<%= erb :nav, locals: locals %>

<section id='main' class='container row'>

<section id='main' class='container row'>
  <ol class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li><a href="/advertisers">Advertisers</a></li>
    <li class="active">Pricing</li>
  </ol>


  <div class='col-xs-12'>

      <div class="container">

          <h1 class="page-header">Pricing packages</h1>

          <p>&nbsp;</p>

          <div class="row flat">
              <div class="col-lg-3 col-md-3 col-xs-6">
                  <ul class="plan plan1">
                      <li class="plan-name">
                          Free trial
                      </li>
                      <li class="plan-price">
                          <strong>$0</strong> / 1st month
                      </li>
                      <li>
                          <strong>1</strong> listing
                      </li>
                      <li>
                          <strong>10</strong> guaranteed views
                      </li>
                      <li>
                          <strong>No</strong> copywriting
                      </li>
                      <li>
                          <strong>No</strong> editorial
                      </li>
                      <li>
                          <strong>No</strong> support
                      </li>
                      <li class="plan-action">
                       <a href="#" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#signup">Sign up</a>
                      </li>
                  </ul>
              </div>

              <div class="col-lg-3 col-md-3 col-xs-6">
                  <ul class="plan plan2 featured">
                      <li class="plan-name">
                          Standard
                      </li>
                      <li class="plan-price">
                          <strong>$39</strong> / month
                      </li>
                      <li>
                          <strong>1</strong> listing
                      </li>
                      <li>
                          <strong>100 guaranteed views</strong> / month
                      </li>
                      <li>
                          <strong>Listing edit</strong> copywriting
                      </li>
                      <li>
                          <strong>No</strong> editorial
                      </li>
                      <li>
                          <strong>Yes</strong> support
                      </li>
                      <li class="plan-action">
                       <a href="#" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#signup">Sign up</a>
                   </li>
               </ul>
           </div>

           <div class="col-lg-3 col-md-3 col-xs-6">
              <ul class="plan plan3">
                  <li class="plan-name">
                      Advanced
                  </li>
                  <li class="plan-price">
                      <strong>$99</strong> / month
                  </li>
                  <li>
                      <strong>Up to 3</strong> listings
                  </li>
                  <li>
                      <strong>1,000 guaranteed views</strong> / month
                  </li>
                  <li>
                      <strong>1 professionally written</strong> listing
                  </li>
                  <li>
                      <strong>1 editorial</strong> / annum
                  </li>
                  <li>
                      <strong>Business development manager</strong> support
                  </li>
                  <li class="plan-action">
                   <a href="#" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#signup">Sign up</a>
               </li>
           </ul>
       </div>

           <div class="col-lg-3 col-md-3 col-xs-6">
              <ul class="plan plan3">
                  <li class="plan-name">
                      Donald Trump
                  </li>
                  <li class="plan-price">
                      <strong>$199</strong> / month
                  </li>
                  <li>
                      <strong>Unlimited</strong> listings
                  </li>
                  <li>
                      <strong>1M guaranteed views</strong> / month
                  </li>
                  <li>
                      <strong>1 professionally written</strong> listing / month
                  </li>
                  <li>
                      <strong>5 editorials</strong> / annum
                  </li>
                  <li>
                      <strong>Business development manager</strong> support
                  </li>
                  <li class="plan-action">
                   <a href="#" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#signup">Sign up</a>
               </li>
           </ul>
       </div>
    <%= erb :signup_modal %>
  </div>

    <section class='row'>

    </section>
  </div>
</section>

<%= erb :footer %>