<div class="col-xs-4">

  <div class="advertiser-stats">
    <ul>
      <li>

        <ul class="content-stats-item advertiser-profile">
          <li>
            <span class="glyphicon glyphicon-pencil"></span>
          </li>
          <li>
            <p><a href="#">Create new</a></p>
          </li>
        </ul>
        <hr>

        <ul class="content-stats-item advertiser-profile">
          <li>
            <span class="glyphicon glyphicon-inbox"></span>
          </li>
          <li>
            <p><a href="#"><span class="badge">7</span> All</a></p>
          </li>
        </ul>
        <hr>

        <ul class="content-stats-item advertiser-profile">
          <li>
            <span class="glyphicon glyphicon-certificate"></span>
          </li>
          <li>
            <p><a href="#"><span class="badge">3</span> Leads</a></p>
          </li>
        </ul>
        <hr>

        <ul class="content-stats-item advertiser-profile">
          <li>
            <span class="glyphicon glyphicon-home"></span>
          </li>
          <li>
            <p><a href="#"><span class="badge">4</span> The Knot</a></p>
          </li>
        </ul>
        <hr>

        <ul class="content-stats-item advertiser-profile">
          <li>
            <span class="glyphicon glyphicon-exclamation-sign"></span>
          </li>
          <li>
            <p><a href="#"><span class="badge">5</span> Important</a></p>
          </li>
        </ul>
        <hr>

      </li>
    </ul>
  </div>

</div>