<section id='main-advertiser' class='container'>

  <ol class="breadcrumb">
    <li class="active">Home</li>
  </ol>

  <div class="row panel panel-default">

    <div class="panel-heading">
      <b>Manage your business success</b>
    </div>

    <div class="panel-body">
      <div class="col-xs-4">

        <div class="advertiser-stats">
          <ul>
            <li>

              <ul class="content-stats-item admin">
                <li>
                  <span class="glyphicon glyphicon-inbox"></span>
                </li>
                <li>
                  <p><a href="/advertisers/messages">3</a> unanswered leads</p>
                </li>
              </ul>
              <hr>

              <ul class="content-stats-item admin">
                <li>
                  <span class="glyphicon glyphicon-usd"></span>
                </li>
                <li>
                  <p><a href="#">485</a> total leads</p>
                </li>
              </ul>
              <hr>

              <ul class="content-stats-item admin">
                <li>
                  <span class="glyphicon glyphicon-calendar"></span>
                </li>
                <li>
                  <p><a href="#">12</a> leads this month</p>
                </li>
              </ul>
              <hr>

              <ul class="content-stats-item admin">
                <li>
                  <span class="glyphicon glyphicon-eye-open"></span>
                </li>
                <li>
                  <p><a href="#">120,045</a> views total</p>
                </li>
              </ul>
              <hr>

              <ul class="content-stats-item admin">
                <li>
                  <span class="glyphicon glyphicon-eye-close"></span>
                </li>
                <li>
                  <p><a href="#">120</a> views this month</p>
                </li>
              </ul>
              <hr>

              <a href="#" class="btn btn-primary btn-full-width"><span class="glyphicon glyphicon-star"></span> Increase leads</a>
            </li>
          </ul>
        </div>

      </div>

      <div class="col-xs-8">
        <canvas id="myChart" width="600" height="400"></canvas>
      </div>
    </div>

  </div>
</section>

<script src="/js/chart.js"></script>
<script src="/js/drawAdResults.js"></script>