<!-- footer -->
<i class='copyright'>&copy; 2014 Independent Digital Media PTY LTD</i>
<footer class='row'>
  <section class="col-sm-3">
    <h4>Site</h4>
    <ul>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">Site map</a></li>
    </ul>
  </section>

  <section class="col-sm-3">
    <h4>The Knot</h4>
    <ul>
      <li><a href="#">Advertise with us</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </section>

  <section class="col-sm-3">
    <h4>Contact us</h4>
    <ul>
      <li><a href="#">Email</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Instagram</a></li>
    </ul>
  </section>

  <section class="col-sm-3">
    <h4>Partner sites</h4>
    <ul>
      <li><a href="#">Primped</a></li>
      <li><a href="#">homehound</a></li>
      <li><a href="#">ninemsn</a></li>
    </ul>
  </section>
</footer>

<%= erb :nine_msn_header %>