<div class="row logo-banner-ad">

  <div class="col-md-3 big-logo-header">
    <img src="/images/logo.gif">
  </div>

  <div class="col-md-9 pull-right">
    <img id="global-nav-banner" data-src="holder.js/720x90">
  </div>
</div>