<h4>Our recommendation</h4>

<a class="btn btn-success btn-full-width" href='#'>Keep in Look Book</a>

<% if content.fetch(:content_type) == 'Suppliers' %>
  <a class="btn btn-info btn-full-width" href='#'>Contact supplier</a>
<% end %>

<a class="btn btn-primary btn-full-width" href='#'>View</a>

<a class="btn btn-danger btn-full-width" href='#'>Remove</a>