<section id="order-by-filter">
  <hr>

  <h3 class='col-md-12'>
    I want
     <a id="order-by-content-type" class="popover-link" href="#" data-toggle="popover" title data-content="<%= order_by_content.fetch(:content_types) %>" data-original-title="Content type" data-html="true">
      all
    </a>
     content with
     <a id="order-by-popularity" class="popover-link" href="#" data-toggle="popover" title data-content="<%= order_by_content.fetch(:popularity_types) %>" data-original-title="Popularity type" data-html="true">
      any
    </a>
     popularity or
     <a id="order-by-popularity" class="popover-link" href="#" data-toggle="popover" title data-content="<%= order_by_content.fetch(:theme_types) %>" data-original-title="Themes" data-html="true">
     any
    </a>
     theme from
    <a href="#">
     now
    </a>
     until
    <a href="#">
     the beginning.
    </a>
  </h3>

  <hr>
</section>