<header>
  <h1>The Knot UX</h1>
  <p>The goal for this project is to deliver a best practice digital website for The Knot that is strategically aligned to The Knot’s business.</p>
</header>
<br>
<section class="col-md-3">
  <h3>UX Strategy</h3>
  <p>
    The UX Strategy outlines the business and user goals the UX is responsible for solving as well as the overarching approach to solving the goals.
  </p>
  <a href="/strategy" class="btn btn-primary">View UX Strategy</a>
</section>
<section class="col-md-3">
  <h3>User Journeys</h3>
  <p>
    There are <%= uj_length %> user journeys that outline the way users will interact with The Knot.
  </p>
  <a href="/user_journeys" class="btn btn-primary">View User Journeys</a>
</section>