<!-- Modal -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title" id="myModalLabel">Sign up as a supplier</h4>

      </div>
      <div class="modal-body">

        <ul class="nav nav-tabs">
          <li class="active"><a href="#new_account">New account</a></li>
          <li><a href="#login">Login</a></li>
        </ul>

        <div class="tab-content">

          <div class="tab-pane login-signup active" id="new_account">
            <p>Enter your details and one of our sales team will be in touch.</p>

            <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Phone #</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter phone #">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Confirm password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password">
              </div>
            </form>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a href='/advertisers/new/listing' type="button" class="btn btn-primary">Sign up</a>

          </div>

        </div>



      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->