<%= erb :nav, locals: locals %></h1>

<section id='main' class='container row'>
  <ol class="breadcrumb">
    <li><a href="/home">Home</a></li>
    <li><a href="/inspiration">Inspiration</a></li>
    <li><a href="/inspiration/honeymoon">Honeymoon</a></li>
    <li class="active">Destination Guide: O’ahu, Hawaii</li>
  </ol>
</section>

<%= erb :footer %>