<div class="col-xs-3 title_content_icon">
  <% n_views = 300 + Random.rand(699) %>
  <span class="glyphicon glyphicon-<%= icon %>" data-value="<%= n_views %>"></span>
  <small><%= n_views  %></small>
</div>