<section>
  <h3>Visitors/users</h3>
  <ul>
    <li>
      <b>Primary goal: </b>Visitors/users of The Knot want to be inspired for their wedding. This is difficult due to the cluttered presentation of information on the site.
    </li>
    <li>
      <b>Secondary goal: </b>Have access to tools that help them plan their wedding. There is a parity of tools offered on competitor sites and a poor quality of tools being offered especially when compared to the intuitive products they have become used to using such as Pinterest and Instagram.
    </li>
  </ul>

  <div class='row'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Visitor strategy</b>
      </div>

      <div class="panel-body">
        <p>
          <b>Quickly funnel brides to inspirational content.</b> By removing all but necessary navigational elements and focussing directly on content we quickly funnel brides to our inspirational content, which is usually their reason for visiting The Knot.
        </p>
        <p>
          <b>Convert content views into user actions.</b> By seamlessly integrating the <a href="/tools/look-book">Look Book</a>, supplier listings and comments into the <a href="/content/5-wedding-guest-myths-—-busted">inspirational content</a> we help convert visitors into registered users.
        </p>

        <p>
          <b>Become the place Aus brides organise their wedding.</b> Tools like the <a href="/tools/look-book">Look Book</a> and <a href="/tools/guest-manager">Guest Manager</a> enable brides to organise their wedding and integrate viral mechanics (invite friends to help, ask guests for their home address) that increase awareness of The Knot through advocacy.
        </p>

        <p>
          <b>Convert organisers into leads.</b> Given suppliers are given equal weighting as inspirational content within the <a href="/tools/look-book">Look Book</a> we expect to greatly increase the average number of leads generated per user.
        </p>
      </div>
  </div>

</section>
<hr>