<section>
  <h3>Suppliers</h3>
    <p>
      <b>Primary goal: </b>Suppliers want new leads to their business. Although their budgets are small, supplier's expectations are generally high. The largest issue is that they don't see the value The Knot drives for them on an on-going basis.
    </p>

  <div class='row'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Supplier strategy</b>
      </div>

      <div class="panel-body">
        <p>
          <b>Increase listing conversions.</b> By creating an optimised <a href="/advertisers/about">supplier sales page</a> and engaging case studies we enable suppliers to buy into advertising on The Knot prior to speaking to one of our sales staff. Listed <a href="/advertisers/plans">pricing plans</a> clearly demonstrate the packages offered and value per package. A free trial employs the rudimentary try-before-you-buy strategy and generates listings and momentum without our sales team having to spend months coaxing a supplier to try our service.
        </p>
        <p>
          <b>Increase the perception of value.</b> Suppliers are not engaged with The Knot, it's a set-and-forget, annual purchase. So when they come up to the end of their contract they don't bother renewing. By constantly engaging suppliers with <a href="/advertisers/messages">leads management</a>, a <a href="/advertisers">management dashboard</a>, weekly statistics emails and business advice we will position The Knot as a business partner rather than as a cost.
        </p>
      </div>
    </div>
  </div>
</section>
<hr>