<section>
  <h3>Admin</h3>
  <p>
    <b>Primary goal: </b> To create a positive visitor experiences as this validates supplier investment and drives new suppliers to The Knot.
  </p>

  <div class='row'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Admin strategy</b>
      </div>

      <div class="panel-body">
        <p>
          <b>Focus on driving business outcomes.</b> Every admin's journey in managing The Knot will begin with a <a href="/admin/home">dashboard</a> that brings the business' performance metrics to light; median revenue per lead, median CPM, average leads per unique visitor per month and average leads per supplier per month will all become part of every admin's vernacular and therefore every action the admin conducts will be done within the context of driving business value.
        </p>

      </div>
    </div>
  </div>
</section>
<hr>