<section>
  <h3>Business</h3>

  <div class="row">
    <div class="col-md-6">
      <b>The Knot's key business goals are to:</b>
      <ol>
        <li>Be the #1 lead gen business for the bridal industry</li>
        <li>Make The Knot a part of every Australian bride's vernacular.</li>
      </ol>
    </div>

    <div class="col-md-6">
      <b>The barriers to The Knot's business goals include:</b>
      <ul>
        <li>Supplier churn</li>
        <li>Meeting supplier expectation for leads</li>
        <li>Brand perception (brides, photographers, suppliers)</li>
        <li>Declining advertising CPM.</li>
      </ul>
    </div>
  </div>

  <div class='row'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Business strategy</b>
      </div>

      <div class="panel-body">
        <p>
          <b>Close the gap between inspiration and execution.</b> Brides currently come to The Knot for our inspirational content, however our suppliers only get value in the form of a lead when brides use The Knot to execute on their wedding plans. By closing the gap between inspiration and execution we will leverage our rich content library in order to drive deeper interactions with each bride and ultimately more leads for each of our suppliers.
        </p>
      </div>
  </div>

</section>

<hr>